<md-toolbar md-scroll-shrink layout="row" layout-align="center center">

  <header flex layout="row" layout-align="center">
    <md-button class="desktop md-primary" ng-href="#which" du-smooth-scroll du-scrollspy offset="30">Which</md-button>
    <md-button class="desktop md-primary" ng-href="#what" du-smooth-scroll du-scrollspy offset="30">What</md-button>
    <a href="#start" du-smooth-scroll>
      <img id="logo" src="assets/images/agnium.png"></img>
    </a>
    <md-button class="desktop md-primary" ng-href="#who" du-smooth-scroll du-scrollspy offset="30">Who</md-button>
    <md-button class="desktop md-primary" ng-href="#where" du-smooth-scroll du-scrollspy offset="30">Where</md-button>
  </header>

</md-toolbar>
