<md-toolbar md-scroll-shrink layout="row" layout-align="center center">

  <header flex layout="row" layout-align="center">
    <md-button class="desktop md-primary" ng-href="#what">What</md-button>
    <md-button class="desktop md-primary" ng-href="#which">Which</md-button>
    <a href="http://agnium.co.id">
      <img id="logo" src="assets/images/agnium.png"></img>
    </a>
    <md-button class="desktop md-primary" ng-href="#who">Who</md-button>
    <md-button class="desktop md-primary" ng-href="#where">Where</md-button>
  </header>

</md-toolbar>
