<div layout="row" layout-fill>

  <md-content>

    <header>
      <agnium-navbar>
    </header>

    <section class="jumbotron vertical-center">
      <div class="container">
        <h1>
          We develop software.
          <br>And <agnium-malarkey extra-values="['people', 'engineers', 'developers', 'businesses', 'you']" />
        </h1>
        <h2>
          Enhancing the effectiveness of your digital business team.
        </h2>
        <md-button class="typeform-share cta long md-raised md-primary md-hue-1" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
          Learn more with us now
        </md-button>
        <p class="small">Before you're of spots or we're out of office hours.</p>
      </div>
    </section>

    <section id="with" class="desktop">
      <div class="clients vertical-center" layout-align="center">
        <md-card ng-repeat="agniumClient in main.agniumClients | orderBy:'rank'">
          <a ng-href="{{ agniumClient.url }}">
            <img ng-src="assets/images/{{ agniumClient.logo }}" alt="{{ agniumClient.title }}">
          </a>
        </md-card>
      </div>
    </section>

    <hr class="bottom">

    <section id="intro" layout-align="center">
      <md-whiteframe layout layout-align="center center">
        <span>
          Agnium is the new complementary and supplementary element to grow more your business in digital age. Our vision is to pioneer people development for digital technology field throughout the globe.
        </span>
      </md-whiteframe>
    </section>

    <hr class="top">

    <section id="what">
      <h2 class="md-display-1">
        <strong>What</strong> We Teach
      </h2>
      <div class="courses" layout-align="center">
        <md-card ng-repeat="agniumCourse in main.agniumCourses | orderBy:'rank'">
          <a ng-href="{{ agniumCourse.url }}">
            <img class="md-card-image" ng-src="assets/images/{{ agniumCourse.image }}" alt="{{ agniumCourse.title }}">
          </a>
          <md-card-content>
            <h2>{{ agniumCourse.title }}</h2>
          </md-card-content>
        </md-card>
      </div>
      <p class="more">
        And many more technologies!
      </p>
    </section>

    <hr class="bottom">

    <section id="which">
      <h2 class="md-display-1">
        <strong>Which</strong> Services You Need
      </h2>
      <div class="services" layout-align="center">
        <md-card ng-repeat="agniumService in main.agniumServices | orderBy:'rank'">
          <a ng-href="{{ agniumService.url }}">
            <img class="md-card-image" ng-src="assets/images/{{ agniumService.image }}" alt="{{ agniumService.title }}">
          </a>
          <md-card-content>
            <h2>{{ agniumService.title }}</h2>
          </md-card-content>
        </md-card>
      </div>
      <p class="more">
        Choose what's fit with your business needs.
        <br class="desktop">Or let us help you to choose.
      </p>
    </section>

    <hr class="top">

    <section id="who">
      <h2 class="md-display-1">
        <strong>Who</strong> We Are
      </h2>
      <div class="members" layout-align="center">
        <md-card ng-repeat="agniumMember in main.agniumMembers | orderBy:'rank'">
          <a ng-href="{{ agniumMember.url }}">
            <img class="md-card-image" ng-src="assets/images/{{ agniumMember.photo }}" alt="{{ agniumMember.title }}">
          </a>
          <md-card-content>
            <h2>{{ agniumMember.name }}</h2>
            <h3>{{ agniumMember.title }}</h3>
          </md-card-content>
        </md-card>
      </div>
      <p class="more">
        Together, we help you passionately.
      </p>
    </section>

    <hr class="bottom">

    <section>
      <h2 class="md-display-1">
        Interested to learn more?
        <br class="desktop">Or still got question?
      </h2>
      <md-button class="typeform-share cta long md-raised md-primary md-hue-1" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
        Get informed right now
      </md-button>
      <p class="small">Before you're of spots or we're out of office hours.</p>
    </section>

    <hr class="top">

    <section id="where">
      <h2 class="md-display-1">
          <strong>Where</strong> We Are
      </h2>
      <div class="where-details" layout-align="center">

        <md-card class="contact">
          <md-card-content>
            <address class="vcard">
              <h3 class="fn">Agnium HQ</h3>
              <span>
                <md-button class="md-icon-button md-primary" aria-label="Email" ng-href="mailto:info@agnium.co.id" target="_blank">
                  <md-icon md-svg-icon="/assets/images/icons/email.svg"></md-icon>
                </md-button>
                <md-button md-no-ink class="email" ng-href="mailto:info@agnium.co.id" target="_blank">
                  info@agnium.co.id
                </md-button>
              </span>
              <br>
              <md-button class="md-icon-button md-primary" aria-label="Call" ng-href="tel:62-21-2963-6703" target="_blank">
                <md-icon md-svg-icon="/assets/images/icons/call.svg"></md-icon>
              </md-button>
              <md-button md-no-ink class="tel" ng-href="tel:62-21-2963-6703" target="_blank">
                (+62-21) 2963 6703
              </md-button>
              <br>
              <md-button class="md-icon-button md-primary" aria-label="Place" ng-href="http://google.com/maps" target="_blank">
                <md-icon md-svg-icon="/assets/images/icons/place.svg"></md-icon>
              </md-button>
              <div>
              <md-button md-no-ink class="adr" ng-href="http://google.com/maps" target="_blank">
                <span class="street-address">Level 38, Office Tower 88, Kota Kasablanka,<br>
                Jl. Casablanca Raya Kav 88</span><br>
                <span class="region">Jakarta Selatan, DKI Jakarta</span>
                <span class="postal-code">12870</span>
                <span class="country-name">Indonesia</span>
              </md-button>
              </div>
              <br>
              <md-button class="md-icon-button md-primary" aria-label="Time">
                <md-icon md-svg-icon="/assets/images/icons/time.svg"></md-icon>
              </md-button>
              <md-button md-no-ink class="time">
                Mon-Fri: 10am to 9pm
                <br class="desktop">
                (UTC/GMT +7)
              </md-button>
            </address>
          </md-card-content>
        </md-card>

        <md-card class="maps">
          <md-card-content>
            MAPS
          </md-card-content>
        </md-card>

      </div>
      <h3 class="md-headline">
        Let's discuss directly if it's suitable for you and us.
      </h3>
      <md-button class="typeform-share cta big long md-raised md-primary" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
        So it's better to contact us, right?
      </md-button>
    </section>

    <section id="social">
      <h2 class="md-display-1">
        OR
      </h2>
      <h3 class="md-headline">
        Get coached for free by checking us out on these networks.
      </h3>
      <span id="social-links" ng-repeat="agniumSocial in main.agniumSocials | filter: filterSocial | orderBy:'rank'">
        <a href="{{ agniumSocial.url }}" target="_blank">
            <i style="margin:15px" class="{{agniumSocial.class}}"></i>
        </a>
      </span>
    </section>

    <footer>
      <p>&copy; 2015 Agnium. All Rights Reserved</p>
    </footer>

    <!-- Hello Bar -->
    <script src="//my.hellobar.com/3b949c1d7c3de76a435c7e4e7f47fca2099cff74.js" type="text/javascript" charset="utf-8" async="async"></script>

    <!-- Typeform -->
    <script>
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
    </script>

    <!-- Segment.io -->
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("cLnmKTUynAW6icfuredC8pS2ZCmxkN7n");
      analytics.page()
      analytics.track('Visitor is reading')
      }}();
    </script>

  </md-content>

</div>
