<div layout="row" layout-fill>

  <md-content>

    <section id="start" class="jumbotron vertical-center">
      <div class="container">
        <h1>
          We develop software.
          <br>And
          <agnium-malarkey extra-values="['people', 'engineers', 'developers', 'businesses', 'you']">
        </h1>
        <h2>
          Enhance the effectiveness of your digital business team.
        </h2>
        <md-button class="typeform-share cta long md-raised md-primary md-hue-1" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
          Learn more with us now
        </md-button>
          <p class="small"><strong>And get 1-week of FREE course.</strong></p>
      </div>
    </section>

    <section id="ticker" layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-fab" aria-label="Next" ng-href="/#intro" du-smooth-scroll>
        <md-icon md-svg-src="/assets/images/icons/arrow-down.svg"></md-icon>
      </md-button>
    </section>

    <hr class="bottom">

    <section id="intro" layout-align="center">
      <md-whiteframe layout layout-align="center center">
        <span>
          Agnium is the new complementary and supplementary element to grow more your business in digital age. Our vision is to pioneer people development for digital technology field throughout the globe. We have over than 10 years of experience combined. And since 2014, more than a hundred of participants in USA, Indonesia and India have joined us. Now, it's your turn.
        </span>
      </md-whiteframe>
    </section>

    <section id="which">
      <h2 class="md-display-1">
        <strong>Which</strong> Services You Need
      </h2>
      <div class="services" layout-align="center">
        <md-card ng-repeat="agniumService in main.agniumServices | orderBy:'rank'">
          <a ng-href="{{ agniumService.url }}">
            <img class="md-card-image" ng-src="/assets/images/{{ agniumService.image }}" alt="{{ agniumService.title }}">
          </a>
          <md-card-content>
            <h2>{{ agniumService.title }}</h2>
          </md-card-content>
        </md-card>
      </div>
      <p class="more">
        Custom inquiries are also possible.
      </p>
      <md-button class="typeform-share cta long md-raised md-primary md-hue-1" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
        Which one do you prefer?
      </md-button>
        <p class="small">To increase your competitive business value from others.</p>
    </section>

    <section id="what">
      <h2 class="md-display-1">
        <strong>What</strong> Are The Available Courses
      </h2>
      <div class="courses" layout-align="center">
        <md-card ng-repeat="agniumCourse in main.agniumCourses | orderBy:'rank'">
          <a ng-href="{{ agniumCourse.url }}">
            <img class="md-card-image" ng-src="/assets/images/course/{{ agniumCourse.image }}" alt="{{ agniumCourse.title }}">
          </a>
          <md-card-content>
            <h2>{{ agniumCourse.title }}</h2>
          </md-card-content>
        </md-card>
      </div>
      <p class="more">
        And many more technologies!
      </p>
      <md-button class="typeform-share cta long md-raised md-primary md-hue-1" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
        Get 1-week of free course
      </md-button>
    </section>

    <section id="who">
      <h2 class="md-display-1">
        <strong>Who</strong> We Are
      </h2>
      <div class="members" layout-align="center">
        <md-card ng-repeat="agniumMember in main.agniumMembers | orderBy:'rank'">
          <a ng-href="{{ agniumMember.photoUrl }}" target="_blank">
            <img class="md-card-image" ng-src="/assets/images/{{ agniumMember.photo }}" alt="{{ agniumMember.name }}, the {{ agniumMember.title }}">
          </a>
          <md-card-content>
            <a href="{{ agniumMember.url }}" target="_blank">
              <h2>{{ agniumMember.name }}</h2>
            </a>
            <h3>{{ agniumMember.title }}</h3>
          </md-card-content>
        </md-card>
      </div>
      <p class="more">
        Together, we help you passionately.
      </p>
    </section>

    <section id="will">
      <h2 class="md-display-1">
        Interested to learn more?
        <br class="desktop">Or still has questions in mind?
      </h2>
      <md-button class="typeform-share cta long md-raised md-primary md-hue-1" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
        Get informed right now
      </md-button>
      <p class="small">So you will not miss the future benefits.</p>
    </section>

    <hr class="top">

    <section id="where">
      <h2 class="md-display-1">
          <strong>Where</strong> We Are
      </h2>
      <div class="where-details" layout-align="center">

        <md-card class="contact">
          <md-card-content>
            <address class="vcard">
              <h3 class="fn">Agnium HQ</h3>
              <span>
                <md-button class="md-icon-button md-primary" aria-label="Email" ng-href="mailto:info@agnium.co.id" target="_blank">
                  <md-icon md-svg-icon="/assets/images/icons/email.svg"></md-icon>
                </md-button>
                <md-button md-no-ink class="email" ng-href="mailto:info@agnium.co.id" target="_blank">
                  info@agnium.co.id
                </md-button>
              </span>
              <br>
              <md-button class="md-icon-button md-primary" aria-label="Call" ng-href="tel:62-21-2963-6703" target="_blank">
                <md-icon md-svg-icon="/assets/images/icons/call.svg"></md-icon>
              </md-button>
              <md-button md-no-ink class="tel" ng-href="tel:62-21-2963-6703" target="_blank">
                (+62-21) 2963 6703
              </md-button>
              <br>
              <md-button class="md-icon-button md-primary top" aria-label="Place" ng-href="https://google.com/maps/place/Agnium/@-6.224568,106.842204,17z/data=!3m1!4b1!4m2!3m1!1s0x2e69f3fc76cada45:0x26a37cc98867f44e" target="_blank">
                <md-icon md-svg-icon="/assets/images/icons/place.svg"></md-icon>
              </md-button>
              <div class="side">
                <md-button md-no-ink class="adr" ng-href="https://google.com/maps/place/Agnium/@-6.224568,106.842204,17z/data=!3m1!4b1!4m2!3m1!1s0x2e69f3fc76cada45:0x26a37cc98867f44e" target="_blank">
                  <span class="street-address">
                    Level 38, Office Tower 88,<br>
                    Kota Kasablanka,<br>
                    Jl. Casablanca Raya Kav. 88
                  </span><br>
                  <span class="region">Jakarta Selatan, DKI Jakarta</span><br class="mobile">
                  <span class="postal-code">12870</span>
                  <span class="country-name">Indonesia</span>
                </md-button>
              </div>
              <br>
              <md-button class="md-icon-button md-primary" aria-label="Time">
                <md-icon md-svg-icon="/assets/images/icons/time.svg"></md-icon>
              </md-button>
              <md-button md-no-ink class="time" ng-href="http://time.is/Jakarta" target="_blank">
                <span>Mon-Fri: 10am to 9pm</span>
                <br class="mobile">
                <span>(UTC/GMT +7)</span>
              </md-button>
            </address>
          </md-card-content>
        </md-card>

        <md-card class="maps">
          <md-card-content>
          </md-card-content>
        </md-card>

      </div>
    </section>

    <section id="social">
      <md-button class="typeform-share md-raised white big long cta" ng-href="{{agniumTypeform}}" data-mode="2" target="_blank">
        Let's work together
      </md-button>
      <h2 class="md-display-1">
        <strong>+</strong>
      </h2>
      <h3 class="md-headline">
        Get coached for free by checking us out on these networks.
      </h3>
      <div class="links">
        <span class="network" ng-repeat="agniumSocial in main.agniumSocials | filter: filterSocial | orderBy:'rank'">
          <a class="icon" href="{{ agniumSocial.url }}" target="_blank">
            <img ng-src="/assets/images/network/{{ agniumSocial.image}}.svg" alt="Agnium on {{agniumSocial.name}}">
          </a>
        </span>
      </div>
    </section>

    <footer>
      <p class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br>This website by Agnium is licensed in 2015 under a
        <br>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </p>
    </footer>

  </md-content>

</div>
