@font-face
  font-family 'Exo 2'
  font-style normal
  font-weight 400
  src url('/assets/fonts/Exo2/Exo2-Regular.eot')
  src local("Exo 2"),
      url('/assets/fonts/Exo2/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Exo2/Exo2-Regular.woff2') format('woff2'),
      url('/assets/fonts/Exo2/Exo2-Regular.ttf') format('truetype'),
      url('/assets/fonts/Exo2/Exo2-Regular.svg#exo_2regular') format('svg')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Exo 2'
  font-style oblique
  font-weight 700
  src url('/assets/fonts/Exo2/Exo2-Bold.eot')
  src local("Exo 2 Bold"),
      url('/assets/fonts/Exo2/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Exo2/Exo2-Bold.woff2') format('woff2'),
      url('/assets/fonts/Exo2/Exo2-Bold.ttf') format('truetype'),
      url('/assets/fonts/Exo2/Exo2-Bold.svg#exo_2bold') format('svg')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen'
  font-style normal
  font-weight 400
  src local("Oxygen"),
      url('/assets/fonts/Oxygen/Oxygen-Regular.woff2') format("woff2"),
      url('/assets/fonts/Oxygen/Oxygen-Regular.ttf') format("truetype")
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen'
  font-style oblique
  font-weight 700
  src local("Oxygen Bold"),
      url('/assets/fonts/Oxygen/Oxygen-Bold.woff2') format("woff2"),
      url('/assets/fonts/Oxygen/Oxygen-Bold.ttf') format("truetype")
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen Mono'
  font-style normal
  font-weight 400
  src local("Oxygen Mono"),
      url('/assets/fonts/Oxygen/OxygenMono-Regular.woff2') format("woff2")
      url('/assets/fonts/Oxygen/OxygenMono-Regular.ttf') format("truetype")
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
